header {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-position: center;

  height: 100vh;

  text-align: center;

  &:has(span) span {
    color: var(--red);
  }
}

#intro {
  max-width: 680px;

  padding-block: 120px 80px;
}

#avatar {
  justify-self: center;

  margin-bottom: 64px;

  position: relative;
  max-width: 112px;

  img {
    width: 96px;
    border-radius: 50%;
    border: 2px solid var(--red);
    padding: 4px;
  }

  div {
    position: absolute;
    background-image: url(../assets/Code.png);
    width: 36px;
    height: 32px;
    bottom: 0;
    right: 0;
  }
}

#description {
  h1 {
    padding-block: 8px 20px;
  }

  h3 {
    color: var(--gray-500);
  }

  p {
    color: var(--gray-400);
  }
}
