#intro {
  background-image: url(../assets/Background_Intro.png);
  background-size: cover;
  background-repeat: no-repeat;

  object-fit: cover;
}

header {
  padding: 180px 180px 80px 180px;
  text-align: center;

  &:has(span) span {
    color: var(--red);
  }

  #avatar {
    justify-self: center;

    margin-bottom: 56px;

    position: relative;

    img {
      width: 96px;
      border-radius: 50%;
      border: 2px solid var(--red);
      padding: 4px;

      object-fit: contain;
    }

    &::before {
      content: "";
      width: 36px;
      height: 32px;

      position: absolute;
      background-image: url(../assets/Code.png);
      background-repeat: no-repeat;
      bottom: 0;
      right: 0;
    }
  }

  #description {
    h1 {
      margin-block: 8px 20px;
    }

    h2 {
      color: var(--gray-500);
    }

    p {
      color: var(--gray-400);
    }
  }
}

#skills {
  display: flex;
  justify-content: space-between;

  max-width: 740px;

  div {
    display: flex;
    align-items: center;
    background-color: var(--gray-300);
    padding: 8px 16px;
    border-radius: 999px;
  }
}

a {
  display: flex;
  justify-content: center;
  margin-block: 90px 57px;

  #caret-down {
    background-image: url(../assets/CaretDoubleDown.svg);

    background-size: cover;
    background-repeat: no-repeat;

    object-fit: cover;

    width: 32px;
    height: 32px;
  }
}
