section {
  text-align: center;
}

#jobs {
  gap: 24px;
  margin-bottom: 144px;

  article {
    max-width: 330px;
    padding: 12px;
    border-radius: 12px;
    background-color: var(--gray-300);
    gap: 20px;

    img {
      width: 100%;
      border-radius: 8px;
    }

    div {
      text-align: start;

      h4 {
        padding-bottom: 8px;
        color: var(--gray-600);
      }

      p {
        color: var(--gray-500);
      }
    }
  }
}

#services {
  padding-block: 88px 120px;
  background-color: var(--gray-100);

  #services-main {
    display: flex;
    justify-content: center;
    gap: 24px;

    article {
      padding: 20px;
      border: 2px solid var(--gray-200);
      border-radius: 12px;
      max-width: 280px;
      color: var(--gray-600);
      gap: 27px;

      img {
        max-height: 48px;
        object-fit: contain;
      }

      div {
        text-align: start;
        color: var(--gray-500);
        gap: 8px;
      }
    }
  }
}
